.box{
    height: 300px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    float: left;
    background-color: lightgreen;
}

h3{
    background-color: none;
    color: darkslategrey;
}

#form{
    background-color:lightgrey;
    margin: 10px;
    padding: 30px;
}
#container{
    overflow: hidden;
    background-color: rgb(181, 194, 194)
}